@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* paragraf ayarları */
p{
  font-weight: 300;
  color: #111;
}


                   /* BASKILI PERDE ALANI       başlangıç*/
/* iletişim alanı*/
.contact-3{
  background: url(../urunlerimiz2/baskili-perde/11.jpg);
  background-size: cover;
  
  height: 660px;
}

.contactForm-3{
  padding: 75px 50px;
  background: #fff;
  border-radius: 5% 0 5% 0;
  max-width: 400px;
  height: 450px;
  box-shadow: 0 15px 50px rgba(0,0,0,0.7);
  
}

.contactForm-3 .inputBox-3{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactForm-3 .inputBox-3 input,
.contactForm-3 .inputBox-3 textarea
{
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}


/* buton alanı */
.contactForm-3 .inputBox-3 input[type="submit"]{
  font-size: 1em;
  color: #fff;
  background: #B48663;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;

}

/*  anasayfa için resim alanı */
.banner-3{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: url(../urunlerimiz2/baskili-perde/10.jpg);
  background-size: cover;
}

/* paragraf ayarları */
.text-4{
  font-weight: 300;
  color: #111;
}

.banner-3 .content-3 p{
font-size: 1em;
color: #111;

}
                 /*BASKILI PERDE ALANI    sonu */




                 /* ZEBRA PERDE ALANI       başlangıç  */
/* iletişim alanı*/
.contact-5{
  background: url(../urunlerimiz2/zebra-perde/6.jpg);
  background-size: cover;
  height: 685px;
}

.contact-5 .title-5 h2{
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
}


/*  anasayfa için resim alanı */
.banner-4{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: url(../urunlerimiz2/zebra-perde/5.jpg);
  background-size: cover;
}

                 /* ZEBRA PERDE ALANI    sonu */



                  /* RUSTİK PERDE ALANI       başlangıç */
/* iletişim alanı*/
.contact-4{
  background: url(../urunlerimiz2/rustik-perde/17.jpg);
  background-size: cover;
  height: 685px;
}

.contact-4 .title-5 h2{
  color: #fff;
  text-align: center;
  font-weight: bolder;
}


/*  anasayfa için resim alanı */
.banner-5{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: url(../urunlerimiz2/rustik-perde/15.jpg);
  background-size: cover;
}
              /* RUSTİK PERDE ALANI       SONU      */


                  /* DİKEY PERDE ALANI       başlangıç */
/* iletişim alanı*/
.contact-6{
  background: url(../urunlerimiz2/dikey-perde/8.jpg);
  background-size: cover;
  height: 685px;
}

.contact-6 .title-6 h2{
  color: #fff;
  text-align: center;
  
  letter-spacing: 4px;
}


/*  anasayfa için resim alanı */
.banner-6{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: url(../urunlerimiz2/dikey-perde/1.jpg);
  background-size: cover;
}
              /* DİKEY PERDE ALANI       SONU      */


             /* PLİSE PERDE ALANI       başlangıç */
/* iletişim alanı*/
.contact-7{
  background: url(../urunlerimiz2/plise-perde/3.jpg);
  background-size: cover;
  height: 685px;
}

.contact-7 .title-7 h2{
  color: #fff;
  text-align: center;
  
  letter-spacing: 5px;
}


/*  anasayfa için resim alanı */
.banner-7{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: url(../urunlerimiz2/plise-perde/9.jpg);
  background-size: cover;
}
              /* PLİSE PERDE ALANI       SONU      */



             /* STOR PERDE ALANI       başlangıç */
/* iletişim alanı*/
.contact-8{
  background: url(../urunlerimiz2/stor-perde/10.jpg);
  background-size: cover;
  height: 685px;
}

.contact-8 .title-8 h2{
  color: #fff;
  text-align: center;
  
  letter-spacing: 5px;
}


/*  anasayfa için resim alanı */
.banner-8{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: url(../urunlerimiz2/stor-perde/9.jpg);
  background-size: cover;
}
              /* STOR PERDE ALANI       SONU      */



                    /* İNDEX.HTML SAYFASI baslangıc */
/* anasayfa için resim alanı */
.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: url(../img/bg2.jpg);
  background-size: cover;
}

/* sabit menu */
header.sticky .logo
{
  color: #B48663;
}

header.sticky .logo:hover
{
  color: #111;
}

header.sticky ul li a{
  color: #B48663;
  
}

header.sticky ul li a:hover{
  color: #000;
}

/* başlık ve yazı ayarları İNDEX.HTML SAYFASI */
.banner .content{
    max-width: 900px;
    text-align: center;
    padding-top: 10%;
}

.banner .content h2{
  font-size: 3em;
  color: #111;
  
}

.banner .content p{
  font-size: 1em;
  color: #111;
  
}

/* banner içindeki buton İNDEX.HTML SAYFASI */
.btn{
  font-size: 1em;
  color: #111;
  background: #B48663;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  border-radius: 40% 0 40% 0; 
}

.btn:hover{
  letter-spacing: 6px;
}

/* logo ve menu alanı */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 90px;
  z-index: 100000;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}


/* sabit menu  */
header.sticky{
  padding: 20px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.07);
}


/* logo ayarları */
header .logo{
  color: #111;
  font-weight: 700;
  font-size: 1.3em;
  text-decoration: none;
 
  text-transform: uppercase;
  letter-spacing: 1px;
  
}

header .logo:hover{
 color: white;
}


header .logo span{
  color: #111;
}



/* menu alanı */
header ul{
  position: relative;
  display: flex;
 
} 


header ul li{
  list-style: none;
  position: relative;

}


header .navigation li a{
 text-decoration: none;
 color: #111;
 font-weight: 800px;
 letter-spacing: 2px;
 position: relative;
 margin: 0 10px;
 font-size: 1.1em;
 
}


header li a:hover{
  color: white;
}


/* anasayfadaki hakkımızdaki alan İNDEX.HTML SAYFASI*/
section{
  padding: 100px;
}

/* burası metin alanı İNDEX.HTML SAYFASI */
.row{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* bu alan resım alanı İNDEX.HTML SAYFASI*/
.row .col50{
  position: relative;
  width: 48%;
}

/* burası h2 baslık alanı İNDEX.HTML SAYFASI*/
.titleText{
  color: #111;
  font-size: 2em;
  font-weight: 300;
}
/* burası h2 baslık alanın span'ına renk verme İNDEX.HTML SAYFASI*/
.titleText span{
  color: #B48663;
  font-weight: 700;
  font-size: 1.5em;
}
/* hakkımızda ki görsel ayarları İNDEX.HTML SAYFASI*/
.row .col50 .imgBx {
   position: relative;
   width: 100%;
   /* min-height: 300px; */
   height: 100%;
}

.row .col50 .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ürünlerimizdeki baslık ayarları İNDEX.HTML SAYFASI*/
.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ürünlerdeki gorselleri duzeltme İNDEX.HTML SAYFASI*/
.products .content{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

/* gorsellerın arkasındakı kutu ayarları ve golgelendırme İNDEX.HTML SAYFASI*/
.products .content .box{
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.products .content .box .imgBx{
  position: relative;
  width: 100%;
  height: 300px;

}

/* gorsellerı kutuya gore boyutlandırma İNDEX.HTML SAYFASI*/
.products .content .box .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* urunlerın ısım alanları İNDEX.HTML SAYFASI*/
.products .content .box .text{
  padding: 15px 0 5px;
}

/* urunlerın ısım alanları İNDEX.HTML SAYFASI*/
.products .content .box .text h3{
  font-weight: 400;
  color: #111;
}

/* iletişim alanı İNDEX.HTML SAYFASI*/
.contact{
  background: url(../urunlerimiz2/dikey-perde/4.jpg);
  background-size: cover;
  height: 660px;
}

.contactForm{
  padding: 75px 50px;
  background: #fff;
  border-radius: 5% 0 5% 0;
  max-width: 400px;
height: 450px;
  box-shadow: 0 15px 50px rgba(0,0,0,0.7);
  
}


.contactForm h2{
  color: #111;
  font-size: 1.2em;
  
  font-weight: 500;
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}


/* buton alanı İNDEX.HTML SAYFASI */
.contactForm .inputBox input[type="submit"]{
  font-size: 1em;
  color: #fff;
  background: #B48663;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;

}

.copyrightText{
  padding: 8px 40px;
  border-top: 1px solid rgba(0,0,0,0.1);
  text-align: center;
}

.copyrightText p{
  color: #333;

}

.copyrightText a{
  color: #B48663;
  font-weight: 600;
  text-decoration: none;
}

/*                        İNDEX.HTML SAYFASININ SONU             */





















/* RESPONSİVE  */

@media (max-width: 991px)
{
header{
  padding: 20px;
}
header.sticky{
  padding: 20px;
}
header .navigation{
  display: none;
}
header .navigation.active{
  width: 100%;
  height: calc(100% - 68px);
  position: fixed;
  top: 68px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}
header .navigation li{
  margin-left: 0;
}
header .navigation li a{
  color: #111;
  font-size: 1.6em;

}
.menuToggle{
  position: relative;
  width: 40px;
  height: 40px;
  background: url(/img/menu.jpg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.menuToggle.active{
  background: url(/img/close.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
 
}

header.sticky .menuToggle{
  filter: invert(1);
}

section{
  padding: 20px;
}

.banner .content h2{
  font-size: 3em;
  color: #111;
}

.row{
  flex-direction: column;
}

.row .col50{
  position: relative;
  width: 100%;
}

.row .col50 .imgBx{
  height: 300px;
  margin-top: 20px;
}

.menu .content{
  margin-top: 10px;
}

.menu .content .box{
  margin: 10px;
}

.menu .content .box .imgBx{
  height: 260px;
}

.title{
  text-align: center;
}

.titleText{
  font-size: 1.8em;
  line-height: 1.5em;
  margin-bottom: 15px;
  font-weight: 300;
}

.contactForm{
  padding: 35px 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

}

@media (max-width: 480px){
  .banner .content h2{
    font-size: 2.2em;
    color: #111;
  }
}


